<div class="main">
    <div class="jumbotron bg-theme">
        <div class="container d-flex flex-column-reverse flex-lg-row flex-xl-row">
            <div class="d-flex flex-column align-items-center px-5">
                <div>
                    <h1 class="display-3">Hello, Explorers of </h1>
                    <h1 class="text-orange fw-bold big-greeting text-start">Art.</h1>
                    <h2 class="fw-light text-wrap">Dive deep into the realm of <span class="text-orange text-uppercase">modern art</span> by exploring the arts of Chicago</h2>
                    <h2><a class="mt-auto btn btn-orange fs-3 px-5" href="#main-container" role="button">Explore &raquo;</a></h2>
                </div>
            </div>
            <div class="d-flex px-5 mb-2">
                <img src="../../../assets/greeting.jpg" alt="" style="mix-blend-mode: multiply; height:fit-content; width: 100%">
            </div>
        </div>
    </div>
</div>